* {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(255 255 255);
    min-height: 100%;
}

.img-medium {
    height: 100%;
    padding: 0px 10px;
}

/* MENU RESPONSIVO */
.menu {
    width: 100%;
    height: 123px;
    background: #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-variant-caps: all-petite-caps;

}

.menu>ul {
    list-style: none;
    position: relative;
    margin-left: 50px;
}

.menu ul li {
    width: 175px;
    float: left;
}

.menu ul>li>a {
    padding: 13px;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s linear;
    border: 2px solid white;
    margin: 4px;
    border-radius: 10px;
    font-size: 19px;
}

.menu ul ul {
    list-style: none;
    position: absolute;
    visibility: hidden;

}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a.home:hover {
    background-color: transparent;
}

.menu ul>li>a:hover {
    background-color: #ffffff;
    color: rgb(37 210 39);
    transition: all 0.2s linear;
    margin: 3px;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: #069;
}

@media (max-width: 800px) {
    .menu {
        margin-left: -110%;
        transition: all .4s;
    }

    .menu>ul {
        margin-left: 0;
    }

    .menu {
        margin-top: 5px;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
        transition: all .4s;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }
}

.home {
    color: #25d227;
}

.icon-top {
    float: right;
    margin: 10px 45px;
    border: 0;
    height: inherit;
    transition: 0.3s all;
}

.icon-top:hover {
    transition: 0.3s all;
    background-color: white;
}

@media only screen and (max-width: 815px) {
    .icon-top {
        display: none !important;
    }
}

a,
h1 {
    color: white;
    text-align: center;
}

p>a {
    color: black;
}

.header h1 {
    text-align: center;
    font-variant-caps: all-petite-caps;
    color: rgb(0, 0, 0);
}

.header h3 {
    margin-bottom: 1em;
    text-align: center;
    color: #2ad12b;
    font-variant-caps: all-petite-caps;
    font-size: 24px;
}

.content {
    width: 55%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: monospace;
    min-width: 340px;
}

.content a {
    color: #2ad12b;
    font-weight: bolder;
}

#two {
    align-items: center;
    width: auto;
}

p {
    color: rgb(0, 0, 0);
    font-family: monospace;
    margin-left: 20px;
    font-size: 15px;
}

div>i.fa-solid {
    color: #000000;
    min-width: 50px;
    height: 50px;
    border: 2px solid #2ad12b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.sequence {
    font-family: monospace;
}

.box-sequence {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.support {
    position: fixed;
    right: 1%;
}

.support a {
    color: black;
    transition: 0.2s all;

}

.support a:hover {
    transition: 0.2s all;
    color: #df1b1b;
}

.support-text {
    display: flex;
    justify-content: center;
}

.support-text p {
    width: 50%;
    font-variant-caps: all-petite-caps;
    text-align: center;
    margin-top: 1.5em;
    font-size: large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i.fa-solid.fa-headset {
    border: 0;
    font-size: xx-large;
    float: right;
    margin: 0em 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

footer p {
    color: #6c6c6c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b200;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input {
    border: 0;
    border-bottom: 2px solid #82838b;
    min-width: 180px;
    font-size: 16px;
    background-color: #2a2a2a;
    margin-bottom: 5px;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
    margin-right: 5px;
}

.label-float {
    width: 20em;
    position: relative;
    padding-top: 13px;
}

.label-float input {
    border: 0;
    border-bottom: 2px solid #000000;
    min-width: 180px;
    background-color: #e9e9e9;
    margin-bottom: 5px;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    border-radius: 5px;
    color: rgb(27, 27, 27);
    font-size: 16px;
}

.label-float input:invalid {
    border-bottom: 2px solid #d1302a;
}

.label-float label {
    font-size: 20px;
    font-family: monospace;
    font-weight: 900;
    font-variant-caps: all-petite-caps;
}

.pass {
    display: flex;
    align-items: center;
}

.box-button button{
    padding: 15px;
    width: 50%;
    margin-top: 2em;
    font-size: 18px;
    background: #2ad12b;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.box-button {
    display: flex;
    justify-content: center;
}