{% extends 'html/base.html' %}

{% block titulo %} <h3>Baixar o aplicativo <i class="fa-solid fa-download"></i></h3>{% endblock titulo %}

{% block conteudo %}
    <section class="content" id='two'>
        <form method="post">{% csrf_token %}
            <div class='label-float'>
                <label>E-mail</label>
                <div class='pass'>
                    <input type="email" name="email" id="email" placeholder='E-mail da sua conta'>
                </div>
            </div>
            <div class='box-button'>
                <button type="submit">Enviar link</button>
            </div>
        </form>   
    </section>
{% endblock conteudo %}

{% block obs %}
    <div class='support-text'>
        <p>O link para download do aplicativo só será enviado se o e-mail estiver vinculada a uma conta.</p>
    </div>
{% endblock obs %}