{% extends 'html/base.html' %}

{% block titulo %} <h3>Baixar o Software <i class="fa-solid fa-download"></i></h3>{% endblock titulo %}

{% block conteudo %}
    <section class="content" id='two'>
        <h4 style='width:90%'>Informe o e-mail da sua conta para receber o link do download do Software.</h4>
        <form method="post">{% csrf_token %}
            <br>
            <br>
            <div class='label-float'>
                <label>E-mail</label>
                <div class='pass'>
                    <input type="email" required name="email" id="email" placeholder='E-mail da sua conta'>
                </div>
            </div>
            <div class='sos'>
                <div class="so">
                    <label ><i class="fa-brands fa-windows"></i></label>
                    <input type="radio" required name="so" value="windows">
                </div>
                <div class="so">
                    <label><i class="fa-brands fa-linux"></i></label>
                    <input type="radio" required name="so" id="linux">
                </div>
            </div>
            {% include 'parciais/messages.html' %}
            <div class='box-button'>
                <button type="submit">Enviar link</button>
            </div>
        </form>   
    </section>
{% endblock conteudo %}

{% block obs %}
    <div class='support-text'>
        <p><strong>OBS:</strong> O link para download do Software só será enviado se o e-mail acima estiver vinculado a uma conta.</p>
    </div>
{% endblock obs %}