
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <title>Caltec - Aplicativo de pesagem</title>
    {% include 'parciais/nav.html' %}
    <div class='mobile-logo'>
        <a href="https://www.caltecbalancas.com.br/"><img src="{% static 'img/logo.png' %}" class='img-small' /></a>
    </div>
</head>
<body>
    <header class='header'>
        <h1>Aplicativo de pesagem <i class="fa-solid fa-scale-balanced"></i></i></i></h1>
        <br>
        {% block titulo %}{% endblock titulo %}
    </header>
    {% block conteudo %}

    {% endblock conteudo %}

    {% block obs %}{% endblock obs %}
    <footer>
        <p>Copyright © 2022. Todos os direitos reservados.</p>
        <p>Created by: <i class="fa-brands fa-github"></i>ryanbsdeveloper</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{% static 'js.js' %}"></script>
    <script src="https://kit.fontawesome.com/ca7e7e3963.js" crossorigin="anonymous"></script> 
</body>
</html>